{{!-- {{yield}} --}}

<div class="bg-dark">
    <nav class="navbar navbar-light navbar-expand-lg container text-light ">
        <LinkTo class="navbar-brand text-light" @route="index">Library app</LinkTo>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100 mt-0" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto w-100 text-center d-flex justify-content-between container text-light">

                <div class=" d-flex">
                    <li class="nav-item active">
                        <LinkTo @route="index" class="nav-link text-light">Home </LinkTo>
                    </li>
                    <li class="nav-item">
                        <LinkTo @route="libraries" class="nav-link text-light">Libraries</LinkTo>
                    </li>
                    <li class="nav-item">
                        <LinkTo @route="authors" class="nav-link text-light">Authors</LinkTo>
                    </li>
                    <li class="nav-item">
                        <LinkTo @route="books" class="nav-link text-light">Books</LinkTo>
                    </li>
                </div>

                <div class=" d-flex ">
                    <li class="nav-item">
                        <LinkTo @route="about" class="nav-link text-light">About</LinkTo>
                    </li>
                    <li class="nav-item">
                        <LinkTo @route="contack" class="nav-link text-light">Contack</LinkTo>
                    </li>


                    <BsDropdown as |dd|>
                        <dd.toggle class="text-decoration-none">
                            <button class="btn btn-dark" type="button">Admin</button>
                        </dd.toggle>
                        <dd.menu>
                            <a class="dropdown-item" href="#">Invitation</a>
                            <a class="dropdown-item" href="#">Contact</a>
                            <LinkTo @route="admin.seeder" class="dropdown-item">Seeder</LinkTo>
                        </dd.menu>
                    </BsDropdown>





                </div>


            </ul>
        </div>
    </nav>
</div>