{{page-title "LibraryApp"}}

<div>
    <div class="p-0 m-0 h-100">
        <Navbar></Navbar>

        {{outlet}}

        <footer class="bg-primary-subtle h-100 py-5 mt-5">
            <div class="container border-top-1">
                Welcome in the Ember.js Octane Demo App. Please click through and check all menu point and features. You
                can build this application if you follow our free <span class="text-primary">Ember Octane
                    tutorial</span>. Please do not use your real
                email
                address. This database is public, you can list the database in Admin section. The source code on <span
                    class="text-primary">GitHub</span>.
                <br><br>
                If you have any question or suggestion, please contact me. Web: <span
                    class="text-primary">zoltan.nz</span>, Twitter: <span class="text-primary">@zoltan_nz</span>
                <br><br>
                If you run this app from your own computer, don"t forget to update Firebase parameters in
                <span class="text-danger">config/environment.js</span>
            </div>
        </footer>
    </div>

</div>