{{page-title "Authors"}}
{{outlet}}

<div class="container my-3">
    <div>
        <h1>Authors</h1>
    </div>


    {{!-- TABLE --}}
    <div class="">
        <table class="table border">
            <thead>
                <tr class="">
                    {{!-- <th scope="col">#</th> --}}
                    <th class="border" scope="col">Name</th>
                    {{!-- <span class="d-block fw-light">(click on name for editing)</span> --}}
                    <th class="border" scope="col">Books</th>
                    {{!-- <th scope="col">Handle</th> --}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{!-- <th scope="row">1</th> --}}
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    {{!-- <th scope="row">2</th> --}}
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    {{!-- <th scope="row">3</th> --}}
                    {{!-- <td colspan="2">Larry the Bird</td> --}}
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>