<div class="container my-3">
    <h1>Books</h1>
    <table class="table border">
        <thead>
            <tr class="">
                <th class="border" scope="col">Authors</th>
                <th class="border" scope="col">Title</th>
                <th class="border" scope="col">Release year</th>
                <th class="border" scope="col">Library</th>
            </tr>
        </thead>
        {{!-- each --}}
        <tbody>
            <tr class="bg-body-secondary">
                <td class="border bg-body-secondary">Mark</td>
                <td class="border bg-body-secondary">Otto</td>
                <td class="border bg-body-secondary">Mark</td>
                <td class="border bg-body-secondary">Otto</td>
            </tr>
        </tbody>
    </table>
</div>